<div class="info-page-container">
  <div class="info">
    <app-text-section
      title="Machine Learning"
      text="Machine Learning es una forma de IA que permite que un sistema aprenda a partir de datos en lugar de aprender a través de programación explícita"
    ></app-text-section>
    <app-text-section
      text="Es la ciencia de desarrollar algoritmos y modelos estadísticos que son utilizados por sistemas informáticos para realizar tareas sin necesidad de instrucciones explícitas, en lugar de depender de patrones e inferencias."
    ></app-text-section>
    <app-text-section
      text="Es una disciplina científica en el campo de la Inteligencia Artificial que crea sistemas que aprenden de forma automática."
    ></app-text-section>
    <app-text-section
      title="AI vs ML"
        text="El Aprendizaje Automático (Machine Learning, ML) es una rama de la 
        Inteligencia Artificial (IA), por lo tanto, comparten ciertas características, 
        como el uso de datos. Por otro lado, también comparten otras similitudes, como la 
        realización de tareas complejas, el análisis y comprensión de datos, entre otras. 
        Difieren en el aspecto de que el Aprendizaje Automático busca analizar grandes cantidades 
        de datos para identificar patrones y llegar a un resultado. Sin embargo, en lo que respecta a 
        la IA, al ser un concepto más amplio, tiene una serie de funciones diferentes. En general, el 
        objetivo es resolver tareas humanas complejas de manera eficiente."
    ></app-text-section>
    <app-text-section
      title="Propósito"
      text="El propósito de este portafolio es mostrar ciertos aspectos 
      trabajados en el campo de la Inteligencia Artificial y tiene como objetivo presentar 
      diferentes proyectos que intentan resolver diversos problemas. La pila de tecnologías utilizadas puede variar según 
      el proyecto, pero consiste principalmente en RapidMiner y Python, además del uso de diferentes conjuntos de datos."
    ></app-text-section>
    <app-text-section text="Además, se pretende demostrar que estos esfuerzos han 
    dado como resultado logros concretos y medibles, contribuyendo al avance de mi comprensión en el 
    campo de la inteligencia artificial y proporcionando un valor real a las aplicaciones en las que se han implementado.
    ">
    </app-text-section>
  </div>
</div>
