.preview-container{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    transition: 0.7s;
}

.title{
    width: 100%;
    height: 10%;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
    font-size: 28px;
    margin-bottom: 5px !important;
}
.preview{
    width: 100%;
    height: 90%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.preview-image{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    object-fit: cover;
    overflow: hidden;
    border: 1px solid #0085FF;
}

img{
    width: 100%;
    height: 100%;
}

p{
    color: white;
    margin: 0;
}
p.desc{
    color: white;
    margin: 0;
    width: 100%;
    text-overflow: ellipsis;
    overflow: hidden;
}

desc{
    white-space: nowrap; /* Evita que el texto se divida en varias líneas */
    overflow: hidden; /* Oculta el texto que se desborda */
    text-overflow: ellipsis; /* Agrega puntos suspensivos al final del texto desbordado */
    text-align: left;
    width: 100% !important; 
}

.info{
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    text-align: left;
    white-space: nowrap;
    overflow: hidden; /* Oculta el texto que se desborda */
    text-overflow: ellipsis; /* Agrega puntos suspensivos al final del texto desbordado */

}

.preview-container:hover{
    cursor: pointer;
    transform: scale(1.1);
}