.main-container{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 100px;
}

.title{
    color: white;
    font-size: 54px;
    font-weight: bold;
    margin: 0;
}

p{
    display: flex;
}

.main{
    width: 100%;
    height: 90%;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.down-icon{
    
}

@media screen and (max-width: 600px) {
    p{
        flex-direction: column;
    }
}