<div class="project-container">
  <app-text-section title="ChatFacts"></app-text-section>
  <app-subtitle-text-section
    title="Descripción"
    text="Chatfacts es una aplicación web que permite en base a un chat de WhatsApp, analizar todos los mensajes en él, descubriendo
    ciertas características o datos sobre lo hablado en el chat."
  ></app-subtitle-text-section>
  <app-image-content
    imageRoute="../../../assets/Chatfacts/guide.PNG"
  ></app-image-content>
  <app-image-content
    imageRoute="../../../assets/Chatfacts/msg-x-persona.PNG"
  ></app-image-content>
</div>
