<div class="project-container">
  <app-text-section
    title="Sports prediction LDA"
    text="Predicting athletic performance is an exciting 
    challenge that combines data science and sports analytics 
    to identify talented athletes in a specific sport. In this 
    project, we will use a dataset containing detailed information 
    about individuals participating in various sports, including rugby, 
    fútbol, volleyball, and basketball. Our main task is to predict the most suitable 
    primary sport for each individual based on a set of physical and mental attributes."
  ></app-text-section>
  <app-text-section
    text="The dataset comprises various columns capturing key characteristics of athletes, 
    such as age(edad), strength(fuerza), speed(velocidad), injury history(historial de lesiones), vision(visión), endurance(resistencia), 
    agility(agilidad), and decision-making ability(capaciad de toma de decisiones). 
    The target variable of our analysis is PrimarySport (DeportePrimario), indicating the sport an individual is inclined to excel in."
  ></app-text-section>
  <app-text-section
    text="We will leverage powerful tools like Python and RapidMiner to carry out this analysis. 
    Python will enable us to perform data preprocessing, build machine learning models, and evaluate 
    their performance, while RapidMiner will assist us in conducting more in-depth and efficient exploratory data analysis."
  ></app-text-section>
  <app-text-section
    text="Throughout this project, we will explore machine learning and data mining techniques 
    to develop an accurate model that allows us to determine the most suitable primary sport for
     each individual based on their personal characteristics. This type of analysis not only has 
     applications in the sports domain but also in talent identification and decision-making in 
     various fields where individual skills are critical to success."
  ></app-text-section>
  <app-text-section
    title="Code"
    text="The code used in this project is shown below"
  ></app-text-section>
  <app-code-snipets code="{{ code }}"></app-code-snipets>
  <app-text-section
    title="Training"
    text="This shows how the model works in RM and Python3"
  ></app-text-section>
  <app-text-section
    text="The first step is to retrive the dataset. As you may see in the image below, after retrieving
  I decided to filter the examples to work with a cleaner dataset. After filtering, a cross validation is performed"
  ></app-text-section>
  <app-image-content
    imageRoute="../../assets/pdtest/pdt6.png"
  ></app-image-content>
  <app-text-section
    text="The content of the cross validation has a known supervised algorithm, Linear Discriminant Analysis.
  After training data with that algorithm, the model was applied to check the results and its performance"
  ></app-text-section>
  <app-image-content
    imageRoute="../../assets/pdtest/pdt5.png"
  ></app-image-content>
  <app-image-content
    imageRoute="../../assets/pdtest/pdt7.png"
  ></app-image-content>
  <app-text-section
    text="The columns are similar to when using RM to evaluate a model, 
  which shows values seen here such as accuracy, 
  recall, among others."
  ></app-text-section>
  <app-image-content
    imageRoute="../../assets/pdtest/pdt8.png"
  ></app-image-content>
  <app-text-section
    title="Scoring"
    text="This shows how the model works in RM and Python3 using scoring dataset"
  ></app-text-section>
  <app-image-content
    imageRoute="../../assets/pdtest/pdt9.png"
  ></app-image-content>
  <app-text-section
    text="Using the scoring dataset, it can be seen at a 
    glance that the values shown in the Python program are 
    related to those of RM, taking into account the different 
    categories mapped to numbers according to their index."
  ></app-text-section>
  <app-image-content
    imageRoute="../../assets/pdtest/pdt10.png"
  ></app-image-content>
  <app-image-content
    imageRoute="../../assets/pdtest/pdt11.png"
  ></app-image-content>
  <app-image-content
    imageRoute="../../assets/pdtest/pdt12.png"
  ></app-image-content>
</div>
