<div class="project-container">
  <app-text-section
    title="Deportes LDA"
    text="La predicción del rendimiento deportivo es un reto apasionante que combina la ciencia de datos y la analítica deportiva para identificar a los atletas con talento en un deporte concreto. En este proyecto, utilizaremos un conjunto de datos que contiene información detallada sobre individuos que participan en varios deportes, como rugby, fútbol, voleibol y baloncesto. Nuestra tarea principal es predecir el deporte principal más adecuado para cada individuo basándonos en un conjunto de atributos físicos y mentales."
  ></app-text-section>
  <app-text-section
    text="El conjunto de datos consta de varias columnas que recogen características clave de los deportistas, como la edad, la fuerza, la velocidad, el historial de lesiones, la visión, la resistencia, la agilidad y la capacidad de toma de decisiones. La variable objetivo de nuestro análisis es DeportePrimario, que indica el deporte en el que un individuo tiende a destacar."
  ></app-text-section>
  <app-text-section
    text="para llevar a cabo este análisis. Python nos permitirá realizar el preprocesamiento de datos, crear modelos de aprendizaje automático y evaluar su rendimiento, mientras que RapidMiner nos ayudará a realizar análisis exploratorios de datos más exhaustivos y eficientes. Además de evaluar su rendimiento, mientras que RapidMiner nos ayudará a realizar análisis exploratorios de datos más exhaustivos y eficientes."
  ></app-text-section>
  <app-text-section
    text="A lo largo de este proyecto, exploraremos técnicas de aprendizaje automático y minería de datos para desarrollar un modelo preciso que nos permita determinar el deporte principal más adecuado para cada individuo en función de sus características personales. Este tipo de análisis no solo tiene aplicaciones en el ámbito deportivo, sino también en la identificación de talentos y la toma de decisiones en diversos campos en los que las habilidades individuales son fundamentales para el éxito."
  ></app-text-section>
  <app-text-section
    title="Código"
    text="A continuación se muestra el código utilizado en este proyecto"
  ></app-text-section>
  <app-code-snipets code="{{ code }}"></app-code-snipets>
  <app-text-section
    title="Entrenamiento"
    text="Esto muestra cómo funciona el modelo en RM y Python3"
  ></app-text-section>
  <app-text-section
    text="El primer paso es recuperar el conjunto de datos. Como se puede ver en la imagen siguiente, tras la recuperación decidí filtrar los ejemplos para trabajar con un conjunto de datos más limpio. Tras el filtrado, se realiza una validación cruzada"
  ></app-text-section>
  <app-image-content
    imageRoute="../../assets/pdtest/pdt6.png"
  ></app-image-content>
  <app-text-section
    text="El contenido de la validación cruzada tiene un algoritmo supervisado conocido, 
    el Análisis Discriminante Lineal. Tras entrenar los datos 
    con ese algoritmo, se aplicó el modelo para comprobar los resultados y su rendimiento"
  ></app-text-section>
  <app-image-content
    imageRoute="../../assets/pdtest/pdt5.png"
  ></app-image-content>
  <app-image-content
    imageRoute="../../assets/pdtest/pdt7.png"
  ></app-image-content>
  <app-text-section
    text="Las columnas son similares a cuando se utiliza RM para evaluar un modelo, que muestra valores vistos aquí como precisión, recall, entre otros."
  ></app-text-section>
  <app-image-content
    imageRoute="../../assets/pdtest/pdt8.png"
  ></app-image-content>
  <app-text-section
    title="Scoring"
    text="Esto muestra cómo funciona el modelo en RM y Python3 utilizando el conjunto de datos de puntuación"
  ></app-text-section>
  <app-image-content
    imageRoute="../../assets/pdtest/pdt9.png"
  ></app-image-content>
  <app-text-section
    text="Utilizando el conjunto de datos de puntuación, se puede observar a simple vista que los valores mostrados en el programa Python están relacionados con los de RM, teniendo en cuenta las diferentes categorías asignadas a números según su índice."
  ></app-text-section>
  <app-image-content
    imageRoute="../../assets/pdtest/pdt10.png"
  ></app-image-content>
  <app-image-content
    imageRoute="../../assets/pdtest/pdt11.png"
  ></app-image-content>
  <app-image-content
    imageRoute="../../assets/pdtest/pdt12.png"
  ></app-image-content>
</div>
