<div class="project-container">
  <app-text-section
    title="Project 1"
    text="Lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam, voluptatum."
  ></app-text-section>
  <app-text-section
    text="Lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam, voluptatum.
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam, voluptatum.
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam, voluptatum.
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam, voluptatum."
  ></app-text-section>
  <app-text-section
    text="Lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam, voluptatum.
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam, voluptatum.
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam, voluptatum.
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam, voluptatum."
  ></app-text-section>
  <app-text-section
    text="Lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam, voluptatum.
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam, voluptatum.
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam, voluptatum.
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam, voluptatum."
  ></app-text-section>
  <app-text-section
    text="Lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam, voluptatum.
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam, voluptatum.
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam, voluptatum.
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam, voluptatum."
  ></app-text-section>
  <app-subtitle-text-section
    title="Subtitle 1"
    text="Lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam, voluptatum."
  ></app-subtitle-text-section>
  <app-text-section
    text="Lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam, voluptatum.
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam, voluptatum.
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam, voluptatum.
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam, voluptatum."
  ></app-text-section>
  <app-text-section
    text="Lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam, voluptatum.
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam, voluptatum.
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam, voluptatum.
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam, voluptatum."
  ></app-text-section>
  <app-text-section
    text="Lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam, voluptatum.
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam, voluptatum.
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam, voluptatum.
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam, voluptatum."
  ></app-text-section>
  <app-text-section
    text="Lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam, voluptatum.
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam, voluptatum.
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam, voluptatum.
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam, voluptatum."
  ></app-text-section>
  <app-code-snipets
    code="{{code}}"
  ></app-code-snipets>
</div>
