<div class="projects-preview-container">
  <div class="title">
    <app-text-title title="Proyectos"></app-text-title>
  </div>
  <div class="grid-container">
    <div class="row row-cols-1 row-cols-md-2 row-cols-lg-3 grid-section">
      <div class="col">
        <a routerLink="/project-one"><app-project-square-preview title="Deportes" description="(Supervised - Linear)" imageRoute="../../../assets/pdtest/Sports.jpg"></app-project-square-preview></a>
      </div>
      <div class="col">
        <a routerLink="/project-two"><app-project-square-preview title="2do Ataque al Corazón" description="(Supervised - Logistic Regression)" imageRoute="../../../assets/HeartCase/heart.webp"></app-project-square-preview></a>
      </div>
      <div class="col">
        <a routerLink="/project-three"><app-project-square-preview title="Titanic" description="(CRISP-DM) Caso de estudio" imageRoute="../../../assets/titanic/titanicPreview.webp"></app-project-square-preview></a>
      </div>
      <div class="col">
        <a routerLink="/project-four"><app-project-square-preview title="Refugio Animal" description="(CRISP-DM) Caso de estudio" imageRoute="../../../assets/shelter/shelterPreview.jpg"></app-project-square-preview></a>
      </div>
      <div class="col">
        <a routerLink="/project-five"><app-project-square-preview title="CKD" description="(CRISP-DM) Caso de estudio" imageRoute="../../../assets/ckd/ckdPreview.webp"></app-project-square-preview></a>
      </div>
    </div>
  </div>
</div>
