.image-container{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 3px solid #0085FF;
    margin-top: 10px;
    margin-bottom: 10px;
}

img{
    width: 100%;
    height: 100%;
}