@import "~prismjs/plugins/toolbar/prism-toolbar.css";
@import "~prismjs/themes/prism-okaidia";

.code-snipet-container{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    border: 1px solid #0085FF;
    border-radius: 25px;
    overflow-wrap: break-word;
    overflow-x: auto;
}
code{
    width: 100%;
    overflow-wrap: break-word;
    white-space: pre-line !important;
    background-color: #0A0D2C;
}
pre{
    width: 100%;

    overflow-wrap: break-word;
}

