<div class="about-me-container">
  <div class="about-me">
    <div class="title">
        <app-text-title title="Sobre mi"></app-text-title>

    </div>
    <p>
      Actualmente estudio Ingeniería en Informática en la Universidad Católica del Uruguay. 
      Con gusto por los <span>algoritmos</span>, me resulta de interés abordar <span>desafíos 
      de programación</span> complejos. Creo firmemente en el poder del <span>trabajo en equipo</span> para crear las mejores 
      soluciones. Mi objetivo como desarrollador es perfeccionar mi oficio y 
      lograr un <span>impacto significativo</span> a través del software. 
    </p>
  </div>
</div>
