<div class="about-me-container">
  <div class="about-me">
    <div class="title">
        <app-text-title title="Sobre mi"></app-text-title>

    </div>
    <p>
      Soy Tomás, un <span>desarrollador de software</span> 
      que actualmente estudia en la Universidad Católica del Uruguay. 
      Apasionado por los <span>algoritmos</span>, me destaco al abordar desafíos 
      de programación complejos. Resalto como <span>integrante de equipo</span>, 
      creyendo firmemente en el poder de la colaboración para crear las mejores 
      soluciones. Mi objetivo como desarrollador es perfeccionar mi oficio y 
      hacer un <span>impacto significativo</span> a través de software eficiente y fácil de usar. 
      Estoy motivado por las infinitas posibilidades en tecnología y me comprometo a <span>superar 
      los límites</span> de lo que se puede lograr a través del código.
    </p>
  </div>
</div>
