<div class="about-me-container">
  <div class="about-me">
    <div class="title">
        <app-text-title title="About me"></app-text-title>

    </div>
    <p>
      I'm Tomás, a <span>software developer</span> currently studying at
      Universidad Católica del Uruguay. Passionate about
      <span>algorithms</span>, I thrive on tackling complex coding challenges. I
      excel as a <span>team player</span>, firmly believing in the power of
      collaboration to create the best software solutions. My goal as a
      developer is to refine my craft and make a <span>meaningful</span> impact
      through efficient, user-friendly software. I'm excited about the endless
      possibilities in tech and am committed to
      <span>pushing the boundaries</span> of what can be achieved through code.
    </p>
  </div>
</div>
